<!DOCTYPE html>
<html lang="en">
	<!-- container-fluid -->
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--公用样式-->
		<link rel="stylesheet" href="../public/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../public/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="../public/css/unicorn.main.css" />
		<link rel="stylesheet" href="../public/css/unicorn.grey.css" />
	</head>
	<body>
		
		
		<div id="header">
			<h1><a href="./dashboard.html">APP 商户管理系统</a></h1>		
		</div>
		
		<div id="hotline" class="muted">服务热线：400-800-8888</div>

		<div id="user-nav" class="navbar navbar-inverse">
			<dl class="user-info">
				<dt class="muted">福建省宁德米克中式餐饮</dt>
				<dd><span class="muted">用户名：</span><b class="text-error">80222222</b></dd>
				<dd><span class="muted">可提现金额：</span><b class="text-error">￥3088.00</b></dd>
			</dl>
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-share"></i> <span class="text">提现</span></a></li>
                <li class="btn btn-inverse"><a title="" href="login.html"><i class="icon icon-off"></i> <span class="text">退出登陆</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<ul>
				<li><a href="index.html"><i class="icon icon-home"></i> <span>首页</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-gift"></i> <span>活动管理</span> <span class="label">2</span></a>
					<ul>
						<li><a href="activity_list.html">活动列表</a></li>
						<li><a href="activity_add.html">新增活动</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#"><i class="icon icon-tint"></i> <span>产品管理</span><span class="label">3</span></a>
					<ul>
						<li><a href="goods_list.html">产品列表</a></li>
						<li><a href="goods_add.html">新增产品</a></li>
						<li><a href="categroy.html">分类管理</a></li>
					</ul>
				</li>
				<li><a href="order.html"><i class="icon icon-shopping-cart"></i> <span>订单管理</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-picture"></i> <span>图片墙管理</span> <span class="label">2</span></a>
					<ul>
						<li><a href="image_list.html">图片墙列表</a></li>
						<li><a href="image_add.html">新增图片墙</a></li>
					</ul>
				</li>
				<li><a href="user.html"><i class="icon icon-user"></i> <span>会员管理</span></a></li>
				<li><a href="comment.html"><i class="icon icon-comment"></i> <span>留言管理</span></a></li>
				<li class="submenu">
					<a href="#"><i class="icon icon-tags"></i> <span>电子券管理</span> <span class="label">2</span></a>
					<ul>
						<li><a href="ticket_list.html">电子券列表</a></li>
						<li><a href="ticket_add.html">新增电子券</a></li>
					</ul>
				</li>
				<li>
					<a href="ad.html"><i class="icon icon-bullhorn"></i> <span>广告设置</span></a>
				</li>
				<li class="submenu">
					<a href="#"><i class="icon icon-hdd"></i> <span>数据库统计</span> <span class="label">4</span></a>
					<ul>
						<li><a href="pv.html">访问量统计</a></li>
						<li><a href="sale.html">销量统计</a></li>
						<li><a href="charge.html">充值量统计</a></li>
						<li><a href="backup.html">数据备份导出</a></li>
					</ul>
				</li>
				<li class="submenu active open">
					<a href="#"><i class="icon icon-cog"></i> <span>系统设置</span> <span class="label">6</span></a>
					<ul>
						<li><a href="change_pw.html">登录设置</a></li>
						<li><a href="profile.html">资料设置</a></li>
						<li><a href="message.html">推送服务</a></li>
						<li><a href="rule.html">规则设置</a></li>
						<li class="active"><a href="resource.html">素材库管理</a></li>
						<li><a href="cash.html">提现管理</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
		<div id="content">

			<div class="widget-box" >
				<div class="widget-title">
					<span class="icon">
						<i class="icon-cog"></i>
					</span>
					<h5>订单详情</h5>
				</div>
				<div class="widget-content">
					<h5>空间使用情况</h5>
					<div class="progress" style="height:30px; line-height:30px;" id="j-orderDetail-status"></div>
					<div class="clearfix" style="padding:20px 0;">
						<a class="btn btn-primary pull-right" href="image_list.html"><i class="icon-picture icon-white"></i> 管理空间</a>
					</div>
					<div class="alert alert-info alert-block">
						<h4 class="alert-heading">提示</h4>
						每位商户默认空间分配大小为100M，如需提升空间大小请联系我们。
					</div>
				</div>
			</div>

			<div id="footer">
				<p>关于淘宝合作伙伴营销中心廉正举报联系客服开放平台诚征英才联系我们网站地图法律声明© 2003-2014 Taobao.com 版权所有</p>
				<p>网络文化经营许可证：文网文[2010]040号|增值电信业务经营许可证：浙B2-20080224-1|信息网络传播视听节目许可证：1109364号 </p>
			</div>
		</div>
		
		<!--公用js-->
        <script src="../public/js/jquery.min.js"></script>
        <script src="../public/js/jquery.ui.custom.js"></script>
        <script src="../public/js/bootstrap.min.js"></script>
        <script src="../public/js/unicorn.js"></script>
        <script src="../public/js/jquery.tmpl.min.js"></script>
        <script src="../public/js/common.js"></script>

        <!--页面js-->
        
        <script type="text/jquery-tmpl-x" id="j-tmpl-orderDetail-status">
        	<div class="bar bar-danger" style="width: ${used / total * 100}%;">{{if used / total >= .1}}已使用：${used}M{{/if}}</div>
			<div class="bar bar-success" style="width: ${(1- used / total) * 100}%;">{{if used / total <= .9}}剩余空间：${total - used}M{{/if}}</div>
		</script>

        <script type="text/javascript">
        	var MPage = {
        		init : function(){
        			var mpage = this;

        			mpage.getOrderDetail();
        		},

        		//p 页码
        		//type tab 类型
    		    getOrderDetail : function (){
    		    	var mpage = this;

					//$.getJSON("", { }， function(json){
						
						var json = {
							code : 0,
							msg : "", 
							result : {
								used : 15,
								total : 100
							}
						};
						
						$("#j-orderDetail-status").html( $("#j-tmpl-orderDetail-status").tmpl(json.result) );
	        		//});
				}
    		}

    		$(function(){
    			MPage.init();
    		});
    		
        </script>
	</body>
</html>
