/**
 * Unicorn Admin Template
 * Diablo9983 -> diablo9983@gmail.com
**/
html, body {

}
body {
	background-color: #25242a;
    padding: 0;
    margin: 0;
}

#logo {
    height: 278px;
    background: url(../img/login_bg.jpg) repeat-x;
    position: relative;

}
#logo  h1{
    width: 450px;
    height: 50px;
    text-indent: -9999px;
    background: url(../img/login_logo.png) no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -225px;
    overflow: hidden;
}

.user-input,
.pw-input,
.phone-input{
    height: 38px;
    width: 205px;
    overflow: hidden;
    padding-left: 60px;
    padding-right: 10px;
}

.user-input input,
.pw-input input,
.phone-input input{
    border:0;
    width: 205px;
    height: 18px;
    line-height: 18px;
    padding: 10px 0;
    color: #333;
}
.user-input input:focus,
.pw-input input:focus,
.phone-input input:focus{
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.user-input{background: url(../img/user_input.png);}
.pw-input{background: url(../img/pw_input.png);}
.phone-input{background: url(../img/phone_input.png);}

#loginform,
#recoverform,
#resetform{
    width: 275px;
    margin: 0 auto;
    position: absolute;
    top: 360px;
    left: 50%;
    margin-left: -137px;
}

#recoverform{
    top: 320px;
}

#loginform .tip,
#recoverform .tip{
    color: #fff;
}

.s-btn{
    width: 85px !important;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: url(../img/btn.png);
    border:0;
    float: right;
}

.flip-link{
    color: #fff;
    font-size: 14px;
    float: left;
    margin-top: 9px;
}

.checkbox{
    color: #fff;
    padding: 0;
    float: left;
    line-height: 38px;
    height: 38px;
    margin-right: 5px;
}

.radio input[type="radio"], .checkbox input[type="checkbox"]{
    float: left;
    margin-left: 0;
    margin-top: 13px;
    margin-right: 5px;
}

.radio.inline, .checkbox.inline{
    padding-top: 0;
}
.control-group{
    margin-top: 20px;
}

#recoverform,
#resetform{
    display: none;
}

#footer{
    width: 230px;
    height: 50px;
    background:url(../img/footer.png) no-repeat;
    margin: 300px auto 30px;
}

.btn-g{
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: block;
    font-size: 14px;
    color: #000;
    background: #bfbfbf;
    border-radius: 10px;
}