<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <!--<system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms"/>
    <add key="gamedbconn" value="Server=192.168.0.116;Uid=zlj;Pwd=123456;Database=myweb;charset=utf8;"/>
    <add key="loginurl" value="http://jsmr.mogeloft.com/myweb/login.aspx"/>
    <add key="indexurl" value="http://jsmr.mogeloft.com/myweb/index.aspx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
    </compilation>
    <!--<pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext"/>
      </controls>
      <namespaces>
        <add namespace="System.Data"/>
      </namespaces>
    </pages>-->
    <authentication mode="Forms">
      <forms enableCrossAppRedirects="true" loginUrl="/" path="/" name="jsmr" domain="jsmr.mogeloft.com" protection="All"/>
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
    </handlers>-->
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4080"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
